<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mt.reginmen.dao.Reviews_data">


    <insert id="addReviews">
        insert into reviews_data(user_id,data_id,content) values (#{user_id},#{data_id},#{content})
    </insert>
</mapper>
